@import url('https://fonts.googleapis.com/css2?faily=Montserrat&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #fff; */
  color: #000;
}


/* app navbar */
#nav-container {
  display:flex;  
  /* space-between to split logo and nav items left and right */
  justify-content: space-between;
  background-color: #333;
}

#logo {
  width: 200px;
  height: 100px;
}

#navbar {
  display:flex;
  list-style-type: none;
  align-items: center; /* Aligns the logo vertically */
  height: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;  
  justify-content: end;
}


#navitem {
  display: flex;
}

.navitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navitem a:hover {
  background-color: #111;
  color: white;
}

/* app body */

/* app container */
.coin-container {
  display: flex;
  width: 100%;
  margin-top: 64px;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.coin-app {
  display: flex;
  width: 100%;
  margin-top: 64px;
  flex-direction: column;
  align-items: center;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  
  padding-left: 10%;
  padding-right: 10%;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  margin-top: 16px;
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border-style: solid;
  /* background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%); */
  color: #e2e2e2;
}

.coin-input::placeholder {
  color:grey;
}

.refresh-btn {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.refresh-btn:hover {
  background-color: #005f73;
}

.refresh-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.refresh-notification{
  margin-top:10px;
}